.page {
  width: 100%;
  height: auto;
}

.header {
  background-color: #fff;
}

.wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 0 0 20px;
  margin-top: 10px;
}

.actions {
  padding: 20px;
  text-align: right;

  :global {
    .ant-btn {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

}

.action_title {
  float: left;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  line-height: 1;
  margin-top: 10px;
}

.action_icon {
  font-size: 16px;
  margin: 0 10px;
  cursor: pointer;
}

.pagination {
  margin-top: 20px;
  text-align: right;
  padding: 0 20px;
}


/* footer */
.footer {
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .footer_l {
    padding-left: 20px;
  }

  .footer_r {
    :global {
      .ant-btn {
        margin-right: 10px;
      }
    }
  }

  .footer_s {
    margin-left: 15px;
  }
}
